
body{
    font-family: 'Petrona', sans-serif;
    background: white;
    padding-top: 60px;
    margin: 0;
    min-height: 100vh;
  }

  .contact-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
  }
  


  
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  
  .header {
    background-color:#FCFAEE;
    color: white;
    width: 100%;
    top:0;
    position: fixed;
    z-index: 999;
  
  }
  
  .headercontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
  
  }
    
    
  .logo {
    color: #818F6D;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500;
  
  }
 
  .logo:hover, .logo:focus{
    color:#414a35;
    text-decoration:none;
  }
  .nav{
    position: fixed;
    top:60px;
    left: 0;
    background-color: #818F6D;
    width: 100%;
    padding: 10px 0 25px;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    text-align: center;
  
  }
  
  
  .navlist{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    row-gap: 20px;
  
  }
  
    
  .navlink{
    color: #FCFAEE;
    font-size: 16px;
    transition: all 0.4s ease;
  }
  
  .navlink:hover,
  .navlink:focus{
    color:  #818F6D ;
    text-decoration: underline;
  }
  
  .hamburger{
    display: block;
    cursor: pointer;
  
  }
  

  
.bar{
    height: 2px;
    width: 27px;
    background: #818F6D;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out
  }
  
  .nav--open{
    transform: translateX(0);
  }
  
  .hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg)
  }
  
  .hamburger--open .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg)
  }
  
  
  @media (min-width: 768px){
    .nav{
      position: static;
      background: none;
      transform: none;
      width: auto;
      padding: 0;
      text-align: right;
    }
  
    .navlist{
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 40px;
  
    }
  
    .navlink{
      color: #818F6D;
      font-size: 15px;
    }
  
    .hamburger{
      display: none;
  
    }
    
  }
  
  .top-section{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:2rem;
    margin: 2rem auto;
    width: 100%;
  }
  
  .welcome,
  .container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 2.5rem 2rem;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  .welcome {
    text-align: center;
    }
    
    .welcome h1 {
      font-size: 2rem;
      color: #6f7c5d;
      margin-bottom: 1rem;
    }
  
  
  
  .welcome p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
    
  
  .btn {
    background-color: #6f7c5d;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
    
  .btn:hover {
    background-color: #414a35;
    transform: translateY(-2px);
  }
    
.contact-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 3rem;
}

.container h3 {
      text-align: center;
      color: #6f7c5d;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

#bth a{
  color:#6f7c5d;
  text-decoration: underline;
  text-align:center;
  display: block;
  margin-bottom: 2rem;
}

#bth a:hover, #bth a:focus{
  color:#414a35;
}
    
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
form button {
      display: block;
      gap: 1.2rem;
      width: 100%;
      padding: 0.9rem;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 8px;
      color: rgb(255, 255, 255);
      text-align: center;
      cursor: pointer;
      background-size: 200% 100%;
      background-position: left center;
      transition: background-position 0.6s ease, transform 0.3s ease;    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      margin-top: 0.8rem;
      background-color: #6f7c5d;

    }


[type="submit"]:hover, [type="submit"]:focus{
      background-color:#414a35;
      background-image:none;
}   

form label {
      font-weight: 600;
      color: #131314;
      text-align: left;
      margin-bottom: 0.3rem;
    }
  
form input{
      width: 100%;
      padding: 0.8rem;
      border: 1px solid black;
      border-radius: 8px;
      font-size: 1rem;
      box-sizing: border-box;
    }
    

    
form input:hover,
form input:focus {
      border-color:  rgb(112, 113, 113);
      box-shadow: 0 0 6px  #6f7c5d;
      outline: none;
    }
    
form button:active {
      background: #414a35; 
      transform: scale(0.98);
      transition: background 1s ease; 
    }
    
form textarea:hover,
form textarea:focus{
      border-color:  rgb(112, 113, 113);
      box-shadow: 0 0 6px  #6f7c5d;
      outline: none;
  }
    form textarea:active{
      background: #414a35; 
      transform: scale(0.98);
      transition: background 1s ease; 
    }
main, aside{
  margin: 0;
  padding: 0;
}
.page-title{
    text-align: center;
    font-size: 2rem;
    margin-top: 120px;
    margin-bottom: 30px;
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

.profile-create-wrapper{
    width: 100%;
    margin: 120px auto 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;

  }

.edit-profile, .post-form-container{
      width: 100%;
      height: auto;
      margin: 0 0 50px;
      padding: 40px 25px;
      text-align: center;
      border-radius: 12px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

@media (min-width: 900px){
    .profile-create-wrapper{
      max-width: 1100px;
      margin: 140px auto 80px;
      padding: 0 20px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 3rem;
      align-items: stretch;
      box-sizing: border-box;
    }


.edit-profile, .post-form-container{
      height: 100%;
      margin: 0;
      padding: 35px 25px;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      box-sizing: border-box;
    }

.edit-profile h2, .post-form-container h2{
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      text-align: center;
    }
form label{
      font-weight: 600;
      margin-bottom: .4rem;
    }
form input, form textarea{
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
    }
  }

footer {
      text-align: center;
      color: #ffffff;
      margin-top:auto;
      font-size: 0.9rem;
      padding: 1.5rem 0;
      background-color: #818F6D;
    }
    
  
  
.image-gallery {
      max-width: 800px;
      margin: 3rem auto;
      padding: 2rem;
      text-align: center;
    }
    
.image-gallery h3 {
      color: #6f7c5d;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    
.image-gallery .images {
      display: flex;
      flex-direction: column;
      gap: 2rem; 
    }

.image-gallery img {
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.1);
      cursor: pointer;
    }
    
.animated-img:hover {
      animation: growShrink 0.6s ease forwards;
    }
@keyframes growShrink {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1); 
      }
      100% {
        transform: scale(1); 
      }
    }
  
  
@media (min-width: 992px) {
      .top-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        max-width: 1200px;
        gap: 2rem;
        margin: 3rem auto;
        width: 100%
      }
  
.top-section .welcome, .top-section.container {
        flex: 1;
        max-width: 70;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
      }
    }
  
.image-gallery .images {
      flex-direction: row;
      gap: 1rem;
    }
  
.image-gallery .images img {
      width: 32%;
    }


.search-page{
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.search-page h1{ 
  font-size: 2.3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

#search-input{
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 25px;
}

.filters{
  margin-bottom: 25px;
  text-align: left;
}

.filter h3{
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.filter-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 20px;
}
.filter-options div{ 
  display: flex;
  align-items: center;
  gap:4px;
}
.filter-options label{
  font-size: 1rem;
  cursor: pointer;
}

.filter-options input[type="checkbox"]{
  width: 18px;
  height: 18px;
  cursor: pointer;

}


#search-button{
  margin-top: 15px;
  padding: 12px 22px;
  font-size: 1rem;
  color: white;
  background-color: #818F6D;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#search-button:hover{
  background-color: #414a35;
  transform: translateY(-2px)
}

#search-results{
  margin-top: 2rem;
}

@media (min-width: 992px){
  .search-page{
    max-width: 900px;
    margin: 120px auto 50px;
    padding: 40px 30px;
    text-align: left;
  }
  
  .search-page h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  #search-input{
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    border-radius: 6px;
    margin-bottom: 25px;
  }
  .filters{
    margin-bottom: 25px;
  }

  .filter h3{
    margin-bottom: 12px;
    font-size: 1.3rem;

  }

  .filter-options{
    display: flex;
    grid-template-columns: repeast(3,1fr);
    gap: 10px 20px
  }

  .filter-options div{
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .filter-options input[type="checkbox"]{
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .filter-options label{
    font-size: 1rem;
    cursor: pointer;
    margin:0;
  }

  #search-button{
    padding: 12px 24px;
    font-size: 1rem;
    color: white;
    background-color: #818F6D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  #search-button:hover {
    background-color: #6f7c5d;
    transform: translateY(-2px);
  }

  #search-results {
    margin-top: 2.5rem;
  }
  
}

.contact-title{
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #6f7c5d;
}







.socials{
  text-align: center;
  margin: 2rem;

}

.socials a {
  margin: .5rem;
  color: #818F6D;
  font-weight: 500;
}

.socials a:hover{
  color: #414a35;
  text-decoration: underline;
}


 